$ourbnb-red: #ff5a5f;
$ourbnb-soft-red: #ff5a60c2;
$ourbnb-light-red: #ff7b7f;
$ourbnb-dark-red: #ee2a4e;
$ourbnb-black: #222;
$ourbnb-soft-black: #262626;
$ourbnb-light-black: #434343;
$ourbnb-white: #fff;
$ourbnb-grey: #515151;
$ourbnb-light-grey: #c3caca;
$ourbnb-dark-grey: #434242;
$ourbnb-blue: #0d6efd;
$ourbnb-orange: #ff9800;
$ourbnb-green: #4caf50;
$ourbnb-bronze: #ec385f;
$ourbnb-silver: #d7d7d7;
$ourbnb-gold: #f0d719;