$ourbnb-red: #ff5a5f;
$ourbnb-soft-red: #ff5a60c2;
$ourbnb-dark-red: #ee2a4e;
$ourbnb-black: #222;
$ourbnb-soft-black: #262626;
$ourbnb-light-black: #434343;
$ourbnb-white: #fff;
$ourbnb-grey: #515151;
$ourbnb-light-grey: #c3caca;
$ourbnb-dark-grey: #434242;