@use '../assets/scss/partials/appHeader.scss';
@use '../assets/scss/root.scss' as *;

// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    //background-image: url(/src/assets/logo.png);
/*     .container{
        background-color: $ourbnb-white;
    } */
}