@use "../root.scss" as *;

nav {
    height: 82px;
}

.animated-img {
    transition: all 0.3s ease-in-out;
}

.animated-img:hover {
    transform: scale(1.1);
}

.animated-img:active {
    transform: scale(0.8);
}

.animated-span {
    background-image: linear-gradient(to right,
            $ourbnb-red,
            $ourbnb-dark-red 50%,
            $ourbnb-black 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.animated-span:before {
    content: '';
    background: $ourbnb-red;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.animated-span:hover {
    background-position: 0;
}

.animated-span:hover::before {
    width: 100%;
}

.animated-span:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.8);
}